@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  background: #7159c1;
  padding-bottom: 30px;
}

div {
  width: 100%;
}

div li {
  display: flex;
  align-items: center;
}

div li + li {
}

p,
h1,
h3,
strong {
  font-family: 'Source Sans Pro', sans-serif;
}

h1,
h3 {
  color: #fff;
}

button {
  background: #7159c1;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
  margin-left: 2px;
  margin-right: 2px;
}

div li button {
  background: #ca4949;
}

button:hover {
  cursor: pointer;
}

.main_section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.main_section {
  text-align: center;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.subtitle {
  font-size: 24px;
}

.card_repository {
  width: 500px;
  height: auto;
  border-radius: 5px;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
}

.card_repository strong {
  background-color: #fff;
  font-size: large;
  color: #565662;
}

.tech_list {
  width: auto;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  justify-content: center;
}
.tech {
  background-color: #04d361;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  color: #fff;
  font-size: x-small;
  margin: 12px 2px 12px 0px;
}

.content_block {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.content_right {
  max-width: 500px;
  height: auto;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  flex-direction: column;
  margin-bottom: 30px;
}

.content_right p,
.content_right strong {
  background-color: #fff;
  font-size: large;
  color: #565662;
  margin-right: 10px;
}

.columnright {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content_form {
  margin-top: 30px;
}
.likes {
  background-color: #fff;
  color: #565662;
  font-family: 'Source Sans Pro', sans-serif;
}

.access {
  background: #7159c1;
}

.buttons {
  margin-top: 10px;
  background: #fff;
  display: flex;
  justify-content: center;
}

.form_repo {
  background: #fff;
  margin-top: 40px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.inputs {
  flex: 1;
  height: 70px;
  padding: 0 24px;
  border: 0;
  border-radius: 5px 0 0 5px;
  color: #3a3a3a;
  border: 2px solid #fff;
  border-right: 0;
}
